@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700%22");
body {
  line-height: 1.4;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  position: relative;
  background-color: #000;
}

p {
  font-family: "Nunito", sans-serif;
  color: #9a9a9a;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

ul {
  list-style-type: none;
}

.getStarted {
  position: relative;
  overflow: hidden;
  background-color: #6075e5cc;
  border: none;
  color: white;
  padding: 4px 15px;
  border-radius: 3px;
}

.ripple {
  background-position: center;
  transition: background 0.5s;
}

.ripple:hover {
  background-color: #8095eacc;
  background-image: radial-gradient(circle, transparent 1%, #8095eacc);
  background-position: center;
  background-size: 15000%;
}

.ripple:active {
  transition: background 0s;
  background-color: #eee;
  background-size: 100%;
}

.ripple:active {
  transition: background 0s;
  background-color: #eee;
  background-size: 100%;
}

.btn-main,
.btn-main-sm {
  background-color: #21d6bf;
  background-image: linear-gradient(100deg, #f9643d, #fe2a77);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 2px;
}

.btn-main:hover,
.btn-main-sm:hover {
  color: #fff;
}

.btn-main-sm {
  padding: 8px 20px;
  font-size: 12px;
}

.btn-transparent {
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
}

.btn-transparent:hover {
  color: #fff;
}

nav {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.navbar {
  padding: 10px 18px;
}

.navbar-brand h1 {
  margin: 0;
}

/*=================================================================
  Hero section
==================================================================*/

.hero-area {
  height: 100vh;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*background: #000;*/
  padding: 0 30px;
}

.hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-area ul {
  padding-left: 0;
}

.hero-area li {
  margin-top: 60px;
}

.hero-area a {
  padding: 15px 25px;
  text-decoration: none;
  margin-right: 20px;
}

.hero-area a:nth-child(2) {
  background-color: #6075e599;
}

/*=================================================================
  Process section
==================================================================*/

.process {
  background-color: #eee;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 100px;
}

.process .title {
  padding: 40px 0;
  text-align: center;
  font-size: 30px;
}

.process-list {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.process-item {
  position: relative;
  padding: 20px 10px 20px 10px;
  margin: 0px 100px 0px 30px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px #777;
  justify-content: left;
  border-radius: 10px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.process-item:nth-child(3) {
  box-shadow: -1px 1px 1px #777;
  text-align: right;
  margin: 0px 30px 0px 100px;
}

.process-list > .svg-link {
  height: auto;
  width: -moz-calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  width: -o-calc(100% - 100px);
  width: calc(100% - 100px);
  margin: 0 50px 0 50px;
  justify-content: center;
  text-align: center;
}

.process-list > .svg-link:nth-child(4) {
  transform: scaleX(-1);
}

.process-item > .item-title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.process-item:nth-child(3) > .item-title {
  justify-content: right;
}

.process-item > .item-title h3 {
  display: inline-block;
  margin: 0;
  margin: 0 8px;
}

.process-item > .upload-txt {
  margin-left: 33px;
}

.process-item > .upload-content {
  display: flex;
  justify-content: space-around;
}

.upload-content > .upload-image {
  height: 80px;
}

.process-item > .upload-bg-image {
  width: 100px;
  display: flex;
  position: absolute;
  right: -50px;
  top: 0;
}

.process-item > .build-txt {
  margin-right: 33px;
}

.process-item > .build-img {
  width: calc(100% - 22px);
  margin-right: 33px;
}

.process-item > .build-bg-image {
  width: 110px;
  display: flex;
  position: absolute;
  left: -60px;
  top: 0;
}

.process-item > .deploy-txt {
  margin-left: 33px;
}

.process-item > .deploy-bg-image {
  width: 100px;
  display: flex;
  position: absolute;
  right: -50px;
  top: 10px;
}

.process-getStarted {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

/* ANIMATION */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*=================================================================
  IPFS explanation section
==================================================================*/

.ipfs-partial {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 6em;
}
.ipfs-partialContent {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.ipfs-partialContent > .ipfs-title {
  flex: 0 0 80%;
  text-align: left;
  font-size: 1.5em;
}
.ipfs-mainContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.ipfs-mainContent > p {
  flex-wrap: wrap;

  color: #444;
  vertical-align: middle;
}
.ipfs-leftContent {
  float: left;
  padding: 0 2em 2em;
}

/*=================================================================
  Framework section
==================================================================*/

.frameworks-partial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 5.5em;
  background-color: #fff;
}
.frameworks-partialContent > .frameworks-title {
  font-size: 1.5em;
  margin-bottom: 2.5em;
  text-align: center;
}

.frameworks-partialContent > .row:nth-of-type(1n + 1) {
  margin-bottom: 2em;
}

.framework-logo {
  width: 150px;
  height: 150px;
  margin-right: 309px; 
  padding: 0 15px;
}

/*=================================================================
  Why Dhost section
==================================================================*/

.whydhost-partial {
  background-color: #1f2532;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 6em;
}
.whydhost-partialContent > .whydhost-title {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}
.whydhost-mosaicContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.whydhost-mosaicContainer > .whydhost-mosaicElement {
  background-color: white;
  flex: 0 0 28%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 150px;
  border: 1px solid black;
  border-radius: 15px;
}
.whydhost-mosaicContainer > .whydhost-mosaicElement:nth-of-type(3) {
  margin-bottom: 3em;
}
.whydhost-mosaicElement > .whydhost-image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.whydhost-mosaicElement:hover > .whydhost-image {
  display: none;
}
.whydhost-mosaicElement > .whydhost-text {
  display: none;
}
.whydhost-mosaicElement:hover > .whydhost-text {
  display: flex;
  text-align: center;
  animation: fadeInAnimation ease 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*=================================================================
  Deploy section
==================================================================*/

.deploy-partial {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 6em;
}
.deploy-partial > .card {
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px #777;
  border-radius: 10px;
  flex: 0 0 30%;
  padding: 3em 7em 5em 7em;
}
.card > .card-title {
  font-size: 1.5em;
  justify-content: left;
  margin-bottom: 3.5em;
}
.card > .card-container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container a {
  padding: 15px 25px;
  text-decoration: none;
  margin-right: 20px;
}

.card-container a:nth-child(2) {
  background-color: #4455C9b0;
}
/*=================================================================
  Footer section
==================================================================*/
.top-footer {
  background-color: #222222;
  border-top: 1px solid #404040;
  padding: 100px 0 80px;
}

.top-footer h3 {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.top-footer p {
  font-size: 13px;
  line-height: 30px;
  color: #bdbdbd;
  font-weight: 300;
  padding-right: 20px;
}

.top-footer li a {
  font-size: 13px;
  line-height: 30px;
  color: #bdbdbd;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: color 0.3s;
  font-family: "Titillium Web", sans-serif;
  display: block;
}

.top-footer li a:hover {
  color: #f0326b;
}

.footer-bottom {
  text-align: center;
  background-color: #1b1b1b;
  border-top: 1px solid #2c2c2c;
  padding: 30px 0;
}

.footer-bottom h5 {
  font-size: 12px;
  line-height: 1;
  color: #888888;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 3px;
}

.footer-bottom h6 {
  font-size: 11px;
  line-height: 15px;
  color: #888888;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.footer-bottom p {
  color: #656565;
}

.footer-bottom a {
  color: #f0326b;
}

.subscribe-form .form-control {
  border-radius: 0;
}

.page-404 {
  height: 100vh;
}

.page-404 h1 {
  font-size: 200px;
}
