@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700%22");
body {
  line-height: 1.4;
  font-family: "Questrial", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  position: relative;
  background-color: #000;
}

p {
  font-family: "Nunito", sans-serif;
  color: #9a9a9a;
  font-size: 15px;
}

h1,
h2 {
  font-family: "Mulish", sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

ul {
  list-style-type: none;
}

.getStarted {
  position: relative;
  overflow: hidden;
  background-color: #6075e5cc;
  border: none;
  color: white;
  padding: 4px 15px;
  border-radius: 3px;
  text-decoration: none;
  padding: 15px 25px;
}

.ripple {
  background-position: center;
  transition: background 0.5s;
}

.ripple:hover {
  background-color: #8095eacc;
  background-image: radial-gradient(circle, transparent 1%, #8095eacc);
  background-position: center;
  background-size: 15000%;
}

.ripple:active {
  transition: background 0s;
  background-color: #eee;
  background-size: 100%;
}

.ripple2 {
  background-position: center;
  transition: background 0.5s;
}

.ripple2:hover {
  background-color: #8095ea33 !important;
  background-image: radial-gradient(circle, transparent 1%, #8095ea33);
  background-position: center;
  background-size: 15000%;
}

.ripple2:active {
  transition: background 0s;
  background-color: #eee;
  background-size: 100%;
}

.btn-main,
.btn-main-sm {
  background-color: #21d6bf;
  background-image: linear-gradient(100deg, #f9643d, #fe2a77);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 2px;
}

.btn-main:hover,
.btn-main-sm:hover {
  color: #fff;
}

.btn-main-sm {
  padding: 8px 20px;
  font-size: 12px;
}

.btn-transparent {
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
}

.btn-transparent:hover {
  color: #fff;
}

nav {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.navbar {
  padding: 10px 18px;
  background-color: #222222 !important;
  transition: background-color 400ms linear;
}

.navbar.notScrolled {
  background-color: transparent !important;
}

.navbar-brand h1 {
  margin: 0;
}

/*=================================================================
  Hero section
==================================================================*/

.hero-area {
  height: 100vh;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*background: #000;*/
  padding: 0 30px;
}

.hero-area .title {
  font-size: 20px;
  max-width: 850px;
}

.coloredTitle {
  color: #6075e5 !important;
}

.titleDescription > p {
  font-size: 20px;
  max-width: 1300px;
}

.hero-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-area ul {
  padding-left: 0;
}

.hero-area li {
  margin-top: 60px;
}

.hero-area a {
  padding: 15px 25px;
  text-decoration: none;
  margin-right: 20px;
}

.hero-area a:nth-child(2) {
  background-color: #6075e599;
}

/*=================================================================
  Process section
==================================================================*/

.process {
  background-color: #eee;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 100px;
}

.process .title {
  padding: 40px 0;
  text-align: center;
  font-size: 30px;
}

.process-list {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.process-item {
  position: relative;
  padding: 20px 10px 20px 10px;
  margin: 0px 100px 0px 30px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 6px #77777777;
  justify-content: left;
  border-radius: 10px;
  min-height: 180px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.process-item:nth-child(3) {
  box-shadow: -1px 1px 6px #77777777;
  text-align: right;
  margin: 0px 30px 0px 100px;
}

.process-list > .svg-link {
  height: auto;
  width: -moz-calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  width: -o-calc(100% - 100px);
  width: calc(100% - 100px);
  margin: 0 50px 0 50px;
  justify-content: center;
  text-align: center;
}

.process-item > .item-title {
  display: flex;
  align-items: center;
  font-size: 23px;
}

#build-title {
  justify-content: flex-end;
  text-align: right;
}

.process-item > .item-title h3 {
  display: inline-block;
  margin: 0;
  margin: 0 8px;
}

.process-item > .upload-txt {
  margin-left: 33px;
  font-size: 18px;
}

.process-item > .upload-content {
  display: flex;
  justify-content: space-around;
}

.upload-content > .upload-image {
  height: 80px;
}

.process-item > .upload-bg-image {
  width: 100px;
  display: flex;
  position: absolute;
  right: -50px;
  top: 0;
}

.process-item > .build-txt {
  margin-right: 33px;
  font-size: 18px;
}

.process-item > .build-img {
  width: calc(100% - 22px);
  margin-right: 33px;
  margin-top: 15px;
}

.process-item > .build-bg-image {
  width: 110px;
  display: flex;
  position: absolute;
  left: -60px;
  top: 0;
}

.process-item > .deploy-txt {
  margin-left: 33px;
  font-size: 18px;
}

.process-item > .deploy-bg-image {
  width: 100px;
  display: flex;
  position: absolute;
  right: -50px;
  top: 10px;
}

.process-getStarted {
  display: flex;
  margin: 0 auto;
  margin-top: 45px;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 16px;
}

/* ANIMATION */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*=================================================================
  IPFS explanation section
==================================================================*/

.ipfs-partial {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 6em;
  padding-bottom: 6em;
}
.ipfs-partialContent {
  display: flex;
  flex: 0 60%;
  max-width: 100vw;
}
.ipfs-partialContent .ipfs-title {
  font-size: 1.5em;
}
.ipfs-title h2 {
  margin-top: 0;
}
.ipfs-mainContent {
  text-align: justify;
}
.ipfs-mainContent > p {
  color: #444;
}
.ipfs-video {
  width: 560px !important;
  height: 315px;
  margin-right: 30px;
}

.ipfs-explanation-text {
  font-size: 20px !important;
}

@media (max-width: 1500px) {
  .ipfs-partialContent {
    display: block;
    flex: 0 60%;
    max-width: 100vw;
  }
}

/*=================================================================
  Framework section
==================================================================*/

.frameworks-partial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 5.5em;
  background-color: #fff;
}
.frameworks-partialContent > .frameworks-title {
  font-size: 1.5em;
  margin-bottom: 2.5em;
  text-align: center;
}

.frameworks-partialContent > .row:nth-of-type(1n + 1) {
  margin-bottom: 2em;
}

.framework-logo {
  width: 150px;
  height: 150px;
  margin-right: 309px;
  padding: 0 15px;
}

/*=================================================================
  Why Dhost section
==================================================================*/

.whydhost-partial {
  background-color: #1f2532;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 6em;
}
.whydhost-partialContent > .whydhost-title {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}
.whydhost-mosaicContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.whydhost-mosaicContainer > .whydhost-mosaicElement {
  background-color: white;
  flex: 0 0 28%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 150px;
  border: 1px solid black;
  border-radius: 15px;
}
.whydhost-mosaicContainer > .whydhost-mosaicElement:nth-of-type(3) {
  margin-bottom: 3em;
}
.whydhost-mosaicElement > .whydhost-image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.whydhost-mosaicElement:hover > .whydhost-image {
  display: none;
}
.whydhost-mosaicElement > .whydhost-text {
  display: none;
  font-family: "Nunito", sans-serif;
  
}
.whydhost-mosaicElement:hover > .whydhost-text {
  display: flex;
  text-align: center;
  animation: fadeInAnimation ease 600ms;
  justify-content: center;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.whydhost-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*=================================================================
  Deploy section
==================================================================*/

.deploy-partial {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 6em;
}
.deploy-partial > .card {
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 4px #77777777;
  border-radius: 10px;
  flex: 0 0 30%;
  padding: 3em 7em 5em 7em;
}
.card > .card-title {
  font-size: 1.5em;
  justify-content: left;
  margin-bottom: 3.5em;
}
.card > .card-container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container a {
  padding: 15px 25px;
  text-decoration: none;
  align-items: center;
  vertical-align: middle;
  text-align: end;
}

.card-container a:nth-child(2) {
  color: #6075e5cc;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
  border: 3px solid #6075e5cc;
}
/*=================================================================
  Footer section
==================================================================*/

.footer {
  padding: 1px 0 10px 0;
  background-color: #444;
  text-align: center;
}

.footer span {
  color: #ccc !important;
}
.footer a {
  color: #ccc !important;
}

.footer div {
  margin: 0 80px;
  color: #000 !important;
}

.footer hr { display: block; height: 1px;
  border: 0; border-top: 2px solid #999;
  margin: 1em 0; padding: 0; }

.footer p {
  margin: 0;
  color: #ddd;
}

.page-404 {
  height: 100vh;
}

.page-404 h1 {
  font-size: 200px;
}
