<div class="deploy-partial">
    <div class="card">
        <div class="card-title">
            <h2>Deploy your own site</h2>
        </div>
        <div class="card-container">
                <a href="{{ with .Site.Params.hero.btnGetStartedUrl }}{{.}}{{ end }}" target="_blank" class="getStarted ripple">{{ with .Site.Params.hero.btnGetStartedText }}{{.}}{{ end }}</a>
                <a href="{{ with .Site.Params.hero.btnLearnMoreURL }}{{.}}{{ end }}" target="_blank" class="getStarted ripple">{{ with .Site.Params.hero.btnLearnMoreText }}{{.}}{{ end }}</a>
        </div>
    </div>
</div>
