{{ if .Site.Params.Hero.enable }} {{ "<!-- Hero Area -->" | safeHTML }}
<section class="footer" style="overflow: hidden">
  <div class="container">
    <div class="row">
      <div>
        <hr />
      </div>
      <span class="navbar-brand">
        <img
          src="{{ .Site.Params.logo | absURL }}"
          alt="logo"
          style="width: 160px; height: 80px; transform: scale(4.5)"
        />
      </span>
      <p>Copyright © 2021 DHost, Inc.</p>
      <div style="position: relative; z-index: 100">
        <a href="https://dhost-legal.netlify.app" style="z-index: 100">
          {{ with .Site.Params.footer.legalNotice }}{{.}}{{ end }}
        </a>
        <span> &nbsp;l&nbsp; </span>
        <a href="https://dhost-legal.netlify.app" style="z-index: 100">
          {{ with .Site.Params.footer.privacyPolicy }}{{.}}{{ end }}
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
