{{ "<!-- Fixed Navigation -->" | safeHTML }}
<section class="header navigation top-bar">
  <section class="header navigation">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar notScrolled" id="navbar">
          <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img
              src="{{ .Site.Params.logo | absURL }}"
              alt="logo"
              style="width: 160px; height: 80px"
            />
          </a>
          <!-- Icones & drapeaux de choix des langues -->
          <div id="drapeaux">
            <!-- Pour passer la langue actuelle (variable globale) dans la range => explicitement -->
            {{ range .Site.Params.listeLangues }}
            <!--/////////////////////////// -->
            {{ partial "flags.html" (dict "site" $.Site "liste" .) }} {{ end }}
          </div>
          <a
            href="{{ with .Site.Params.hero.btnGetStartedUrl }}{{.}}{{ end }}"
            target="_blank"
            class="getStarted ripple2"
            style="
              position: fixed;
              right: 140px;
              top: 15px;
              color: #6075e5;
              background-color: transparent;
              font-weight: bold;
              font-size: 18px;
              padding: 10px 25px;
            "
            >Documentation</a
          >
          <a
            href="{{ with .Site.Params.hero.btnGetStartedUrl }}{{.}}{{ end }}"
            target="_blank"
            class="getStarted ripple"
            style="
              position: fixed;
              right: 25px;
              top: 15px;
              font-size: 18px;
              padding: 10px 30px;
            "
            >Login</a
          >
        </nav>
      </div>
    </div>
  </section>
</section>
<script>
  var scroll_pos = 0;

  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      document.getElementById("navbar").classList.remove("notScrolled");
    } else {
      document.getElementById("navbar").classList.add("notScrolled");
    }
  });
</script>
