{{ "<!-- Fixed Navigation -->" | safeHTML }}
<section class="header navigation top-bar">
  <section class="header navigation">
    <div class="row">
      <div class="col-md-12">
        <nav
          class="navbar notScrolled"
          id="navbar"
          style="
            padding: 10px 18px;
            background-color: #222 !important;
            transition: background-color 400ms linear;
            height: 60px;
          "
        >
          <a
            class="navbar-brand"
            href="{{ .Site.BaseURL }}"
            style="
              align-items: center;
              position: relative;
              display: flex;
              justify-content: flex-start;
              width: 100%;
            "
          >
            <img
              src="{{ .Site.Params.logo | absURL }}"
              alt="logo"
              style="
                width: calc(160px + 100px);
                filter: brightness(2);
                margin: -100px 0 0 -45px;
              "
            />
          </a>
          <!-- Icones & drapeaux de choix des langues -->
          <div id="drapeaux">
            <!-- Pour passer la langue actuelle (variable globale) dans la range => explicitement -->
            {{ range .Site.Params.listeLangues }}
            <!--/////////////////////////// -->
            {{ partial "flags.html" (dict "site" $.Site "liste" .) }} {{ end }}
          </div>
          <a
            href="{{ with .Site.Params.hero.btnLogin }}{{.}}{{ end }}"
            target="_blank"
            class="getStarted ripple2"
            style="
              position: fixed;
              right: 140px;
              top: 15px;
              color: #6075e5;
              background-color: transparent;
              font-weight: bold;
              font-size: 18px;
              padding: 10px 25px;
            "
            >Documentation</a
          >
          <a
            href="{{ with .Site.Params.hero.btnGetStartedUrl }}{{.}}{{ end }}"
            target="_blank"
            class="getStarted ripple"
            style="
              position: fixed;
              right: 25px;
              top: 15px;
              font-size: 18px;
              padding: 10px 30px;
            "
            >Login</a
          >
        </nav>
      </div>
    </div>
  </section>
</section>
<script>
  var scroll_pos = 0;

  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      document.getElementById("navbar").classList.remove("notScrolled");
    } else {
      document.getElementById("navbar").classList.add("notScrolled");
    }
  });
</script>
