<div class="ipfs-partial">
  <div class="ipfs-partialContent" data-aos="fade-up">
    <div>
      <iframe
        class="ipfs-video"
        src="https://www.youtube.com/embed/5Uj6uR3fp-U"
        frameborder="0"
        allow="autoplay"
        allowfullscreen
      ></iframe>
    </div>
    <div class="ipfs-mainContent">
      <div class="ipfs-title">
        <h2>{{ with .Site.Params.ipfs.title }}{{ . }}{{ end }}</h2>
      </div>
      <p>
        <span class="ipfs-explanation-text">
          {{ with .Site.Params.ipfs.description }}{{.}}{{ end }}
        </span>
      </p>
    </div>
  </div>
</div>
