{{ "<!-- Start Process -->" | safeHTML }}
<section class="process section" id="process">
  <div class="row">
    <div class="col">
      <div class="title text-center">
        <h2>{{ with .Site.Params.process.title }}{{ . }}{{ end }}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="process-list">
      <div class="process-item" data-aos="fade-up">
        <div class="item-title">
          <svg height="24" width="24">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#666"
              stroke-width="3"
              fill="#EEE"
            />
          </svg>
          <h3>Upload</h3>
        </div>
        <p class="upload-txt">{{ with .Site.Params.process.uploadText }}{{ . }}{{ end }}</p>
        <div class="upload-content">
          <img
            class="upload-image"
            src="/imgs/process/github.png"
            alt="github"
          />
          <img
            class="upload-image"
            src="/imgs/process/folder.png"
            alt="folder"
          />
          <img class="upload-image" src="/imgs/process/cli.png" alt="cli" />
        </div>
        <img
          class="upload-bg-image"
          src="/imgs/process/rocket.png"
          alt="rocket"
        />
      </div>
      <img
        class="svg-link"
        src="/imgs/process/link.svg"
        alt="link"
        data-aos="fade-up"
      />
      <div class="process-item" data-aos="fade-up">
        <div id="build-title" class="item-title">
          <h3>{{ with .Site.Params.process.buildTitle }}{{ . }}{{ end }}</h3>
          <svg height="24" width="24">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#666"
              stroke-width="3"
              fill="#EEE"
            />
          </svg>
        </div>
        <p class="build-txt">
          {{ with .Site.Params.process.buildText }}{{ . }}{{ end }}
        </p>
        <img src="/imgs/process/build.png" alt="build" class="build-img" />
        <img
          class="build-bg-image"
          src="/imgs/process/planet-build.png"
          alt="rocket"
        />
      </div>
      <img
        id="link2"
        class="svg-link"
        src="/imgs/process/link2.svg"
        alt="link"
        data-aos="fade-up"
      />
      <div class="process-item" data-aos="fade-up">
        <div class="item-title">
          <svg height="24" width="24">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#666"
              stroke-width="3"
              fill="#EEE"
            />
          </svg>
          <h3>{{ with .Site.Params.process.deployTitle }}{{ . }}{{ end }}</h3>
        </div>
        <p class="deploy-txt">{{ with .Site.Params.process.deployText }}{{ . }}{{ end }}</p>
        <button class="getStarted process-getStarted ripple">
          {{ with .Site.Params.hero.btnGetStartedText }}{{ . }}{{ end }}
        </button>
        <img
          class="deploy-bg-image"
          src="/imgs/process/neptune.png"
          alt="planet"
        />
      </div>
    </div>
  </div>
</section>
