{{ "<!-- Start Process -->" | safeHTML }}
<section class="process section" id="process">
  <div class="row">
    <div class="col">
      <div class="title text-center">
        <h2>Decentralyze your app</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="process-list">
      <div class="process-item">
        <div class="item-title">
          <svg height="24" width="24">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#666"
              stroke-width="3"
              fill="#EEE"
            />
          </svg>
          <h3>Upload</h3>
        </div>
        <p class="upload-txt">Choose the source of your website</p>
        <div class="upload-content">
          <img class="upload-image" src="/imgs/process/github.png" alt="github" />
          <img class="upload-image" src="/imgs/process/folder.png" alt="folder" />
          <img class="upload-image" src="/imgs/process/cli.png" alt="cli" />
        </div>
        <img class="upload-bg-image" src="/imgs/process/rocket.png" alt="rocket" />
      </div>
      <img class="svg-link" src="/imgs/process/link.svg" alt="link" />
      <div class="process-item">
        <div class="item-title">
          <h3>Check build options</h3>
          <svg height="24" width="24">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#666"
              stroke-width="3"
              fill="#EEE"
            />
          </svg>
        </div>
        <p class="build-txt">
          Adapt your settings to mold your site deployment
        </p>
        <img src="/imgs/process/build.png" alt="build" class="build-img" />
        <img class="build-bg-image" src="/imgs/process/planet-build.png" alt="rocket" />
      </div>
      <img class="svg-link" src="/imgs/process/link.svg" alt="link" />
      <div class="process-item">
        <div class="item-title">
          <svg height="24" width="24">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#666"
              stroke-width="3"
              fill="#EEE"
            />
          </svg>
          <h3>Deploy</h3>
        </div>
        <p class="deploy-txt">Deploy your website on IPFS</p>
        <button class="getStarted process-getStarted ripple">
          Get Started
        </button>
        <img class="deploy-bg-image" src="/imgs/process/neptune.png" alt="planet" />
      </div>
    </div>
  </div>
</section>
